body{
    background-image:url(back.png);
    background-attachment: fixed;
    color: white;
}
header{
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 10000; 
}
.wlfu{
    width: 100%;
}

.container{
    margin: 0px auto;
    padding: 0px auto;
}
/*プロフィール */
.s-icon{
  border: 15px solid rgb(41,100,86);
  border-radius: 300px;
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}
.s-icon img{
    width: 100%;
}
.m-p{
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/*スキル*/
.m-wrapper{
    display: flex;
    justify-content: center;
}
.m-box{
  width: 100%;
  margin-left: 45px;
}
.m-box img{
    width: 200px;
    height: 150px;
}

.card-text{
  color: black;
}
.m-h2{
  background: #212529;
  border: 5px solid white;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px;
  opacity: .8;
}
/*働き*/
.card{
    margin-top: 20px;
}
.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .c-card{
    width:100%;
    height: 150px;
  }

/*イラスト*/
.carousel-item{
    height: 32rem;
    width: 100%;
    background-color: black;
    position: relative;
    left: 10px;
    right: 10px;
}
.content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    padding-left: 50px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    
}
.illusto{
    color:white;
    font-size: 22px;
    background: black;
    opacity: .7;
    border-radius: 5px;
    padding: 7px;
    display: inline-block;
}

/*お問い合わせ*/
.contact-form{
  text-align: center;
  font-weight: bold;
}



button{
    margin-bottom: 20px;
    padding: 10px;
}
.form-label{
    font-size: 18px;
}

/*フッター*/
.f-name{
    background-color: #212529;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top:20px;
  }


@media screen and (max-width: 780px){
  .carousel-item{
    height: 24rem;
    left: 0px;
    width: 100%;
  }  
    .m-box{
        margin-left: 0px;
    }
    .m-box img{
     width: 180px;
     height: 120px;
    }
     .card-text{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      .c-card{
        width:100%;
        height: 100px;
      }
      .card{
        width: 100%;
        position: center;
      }
}


@media screen and (max-width: 580px) {
  
    .m-p {
    font-size: 16px;
    text-align: left;
    }
   .skill{
       width: 110px;
       height: 80px;
   }
   .wlfu{
       margin-top: 60px;
       
   }
   .col-sm-4{
    margin-bottom: 15px;
   }
   .m-box{
       margin-left: 0px;
   }
   .m-box img{
    width: 120px;
    height: 80px;
    }
    .card{
      width: 95%;
      position: center;
      margin-left: 10px;
    }
   .card-text{
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
     overflow: hidden;
      }
    .c-card{
      width:  100%;
      height: 250px;
      }
    .carousel-item{
      height: 24rem;
       width: 100%;
      left: 0px;
    }  
}